<div class="row col-7 ">
      <p class="lead display-4 w-100">Add hobby here</p>
    <form class=" input-form col p-2 mx-auto" action="" method="post">
        {{#each data}}
            {{#if (isDescription this)}}
            <div class="form-group row col mx-auto ">
                <label for="{{this}}" class=" text-color col-sm-2  col-form-label ">{{this}}</label>
                <div class="col-sm-10">
                    <textarea class="form-control " id="{{this}}" rows="3" placeholder=" Write a description for your hobby" name="{{this}}" ></textarea>
                </div>
            </div> 
            {{else}}
            <div class="form-group row col mx-auto ">
                <label for="{{this}}" class=" text-color col-sm-2 col-form-label ">{{this}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control " id="{{this}}" placeholder="{{this}}" name="{{this}}" >
                    <small id="passwordHelpInline" class="text-muted" style="display: none;">
                        Must be 8-20 characters long. 
                    </small>
                </div>
            </div>
            {{/if}}
        {{/each}}
        <button class="btn btn-sm btn-secondary float-right mx-5 mb-4 px-3" type="submit" >{{type}}</button>
    </form>
</div>