<div class="row col-10 mx-auto justify-content-center">
    <p class="lead display-4 ">Edit hobby information here</p>
    <form class=" input-form col-md-8 p-2" action="" method="post">
        {{#each data}}
        {{#unless (isHobbyId @key)}}
            {{#if (is_description @key)}}
            <div class="form-group row col mx-auto ">
                <label for="{{@key}}" class=" text-color col-sm-2 col-form-label">{{@key}}</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="{{@key}}" rows="3" name="{{@key}}" >{{this}}</textarea>
                </div>
            </div> 
            {{else}}
            <div class="form-group row col mx-auto ">
                <label for="{{@key}}" class=" text-color col-sm-2 col-form-label">{{@key}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="{{@key}}" placeholder="{{@key}}" value="{{this}}" name="{{@key}}" >
                    <small id="passwordHelpInline" class="text-muted" style="display: none;">
                        Must be 8-20 characters long. 
                    </small>
                </div>
            </div>
            {{/if}}
        {{/unless}}
        {{/each}}
        <input type="text" style="display: none;"name="hobbyId" value="{{data.hobbyId}}">
        <button class="btn btn-sm btn-secondary float-right mx-5 mb-4 px-3" type="submit" >{{type}}</button>
    </form>
</div>

