<div class="row col-10 justify-content-center">
    <p class="lead display-4 text-center w-100">Edit user information here</p>
    <form class=" input-form col-md-8 p-2" action="" method="post">
        {{#each data}}
          {{#if (isPass @key)}}
                <div class="form-group row col mx-auto ">
                    <label for="{{this}}" class="text-color col-sm-2 col-form-label">{{@key}}</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="{{@key}}" placeholder="{{@key}}" name="{{@key}}" value="{{this}}" >
                        <small id="passwordHelpInline" class="text-muted" style="display: none;">
                            Must be 8-20 characters long.
                        </small>
                    </div>
                </div>
            {{else}}
            <div class="form-group row col mx-auto ">
                <label for="{{@key}}" class="text-color col-sm-2 col-form-label">{{@key}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="{{@key}}" placeholder="{{@key}}" value="{{this}}" name="{{@key}}" >
                    <small id="passwordHelpInline" class="text-muted" style="display: none;">
                        Must be 8-20 characters long. 
                    </small>
                </div>
            </div>
            {{/if}}
        {{/each}}
        <button class="btn btn-sm btn-secondary float-right mx-5 mb-4 px-3" type="submit" >{{type}}</button>
    </form>
</div>
